.lt_cart_total{
  height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;
  position:absolute;
  bottom:55px;
  width: 100%;
  max-width: 640px;
  z-index: 9999;
}
.lt_container{
  padding-bottom: 85px;
}
.lt_cart_total div{
  float: left;
  font-size:12px;
  color:red;
  font-weight: 700;
  padding-left:10px;
}
.lt_cart_total a{
  padding:0 15px;
  background-color: red;
  color:#fff;
  float: right;
  font-size: 12px;
}
.lt_cart_left{
  float: left;
}
.lt_cart_left img{
  height: 60px;
  width: 60px;
}
.lt_cart_right{
  overflow: hidden;
  padding-left:10px;
}
.pro_name{
  color:#333;
}
.price{
  color:red;
}
.old_price{
  text-decoration: line-through;
}
.num{
  float: right;
}
.size{
  font-size: 12px;
}
.ck{
  position: absolute;
  bottom:-6px;
  left:3px;
}
.mui-table-cell{
 display: block;
}
.lt_cart_size{
  text-align: left;
}
.lt_cart_size span{
  line-height: 36px;
  padding: 5px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}
.lt_cart_size span.now{
  background-color: #069;
}
.lt_cart_num{
  text-align: left;
}