html,body{
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
.lt_container{

  width: 100%;
  max-width: 640px;
  min-width: 320px;
  height: 100%;
  margin:0 auto;
}
.lt_header{
  height: 45px;
  background-color:#069;
  line-height: 45px;
  position:fixed;
  left:0;
  top:0;
  max-width: 640px;
  width: 100%;
  z-index: 999;
  left:50%;
  transform:translateX(-50%);
}
.lt_header .icon-left,.lt_header .icon-right{
  display:block;
  height: 45px;
  width: 45px;
  text-align: center;
  color:#fff;
  position:absolute;
  top:0;
}
.lt_header .icon-left{
  left:0;
}
.lt_header .icon-right{
  right:0;
}
.lt_header h4{
  text-align: center;
  color:#fff;
  height: 45px;
  line-height: 45px;
  width: 100%;
  margin: 0;
  font-weight: 400;
}
.lt_footer{
  height: 55px;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  position:fixed;
  left:0;
  bottom:0;
  background-color: #069;
  z-index: 999;
  left:50%;
  transform:translateX(-50%);
}
.lt_footer ul li{
  width: 25%;
  float: left;
  text-align: center;
  padding-top:10px;
}
.lt_footer a{
 text-decoration: none;
  color:#fff;
}
.lt_footer p{
  font-size:12px ;
  margin-bottom:0;
  color:#fff;
}
.lt_footer li.now a{
  color:darkorange;
}
.lt_footer li.now p{
  color:darkorange;
}
.lt_container{
  padding-bottom:55px;
  padding-top:45px;
}
.lt_content{
  width: 100%;
  background-color: #fff;
  position:relative;
  height: 100%;
}

.lt_content .lt_search{
  padding:10px 10px 0;
  position: relative;
}
.lt_content input{
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #069;
  height: 35px;
}
.lt_content .btn_search{
  position:absolute;
  right:11px;
  top:11px;
  width: 60px;
  border-radius: 0 5px 5px 0;

}


.lt_product{
  padding: 10px;
}
.lt_product li{
  padding:10px;
  float: left;
  width: 48%;
  border:1px solid #ccc;
  margin-top:10px;
}
.lt_product li:nth-child(even){
  margin-left:10px;
}
.lt_product img{
  display: block;
  width: 100%;
}
.lt_product li p{
  text-align: center;
}
.lt_product li .old-price{
  text-decoration: line-through;
}
.lt_product li .price{
  color:red;
}
.lt_product li button{
  display: block;
  margin:0 auto;
}