
.lt_history div{
  padding:10px;
  font-size: 12px;
  color:#666;
}
.lt_history div span{
  height: 25px;
  line-height: 25px;
}
.lt_history ul{
  margin:0 10px;

}
.lt_history li{
  height: 30px;
  line-height: 30px;
  padding:0 10px;
  border:1px dashed #ccc;
  border-top: 1px solid transparent;
}
.lt_history li:first-child{
  border-top: 1px dashed #ccc;
}
.lt_history li a{
  font-size: 12px;
}
.lt_history span{
  line-height: 30px;
}